@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Database.User
@using (Html.BeginForm("ForgotPassword", "Account"))
{
    <!DOCTYPE html>
    <html lang="en" class="h-100">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <meta name="robots" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Workload : Workload Project Management Admin  Bootstrap 5 Template" />
        <meta property="og:title" content="Workload : Workload Project Management Admin  Bootstrap 5 Template" />
        <meta property="og:description" content="Workload : Workload Project Management Admin  Bootstrap 5 Template" />
        <meta property="og:image" content="https:/workload.dexignlab.com/xhtml/social-image.png" />
        <meta name="format-detection" content="telephone=no">

        <!-- PAGE TITLE HERE -->
        <title>Task Organizer</title>
        <style>
            .field-validation-error {
                color: red;
            }
        </style>
        <!-- FAVICONS ICON -->
        <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
        <link href="./css/style.css" rel="stylesheet">
        <link href="~/Contents/vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
        <link href="~/Contents/vendor/owl-carousel/owl.carousel.css" rel="stylesheet">
        <link rel="stylesheet" href="~/Contents/vendor/nouislider/nouislider.min.css">
        <!-- Style css -->
        <link href="~/Contents/css/style.css" rel="stylesheet">

    </head>

    <body class="vh-100">
        <div class="authincation h-100">
            <div class="container h-100">
                <div class="row justify-content-center h-100 align-items-center">
                    <div class="col-md-6">
                        <div class="authincation-content">
                            <div class="row no-gutters">
                                <div class="col-xl-12">
                                    <div class="auth-form">
                                        <div class="text-center mb-3">
                                            <a href="index.html"><img src="images/logo-full.png" alt=""></a>
                                        </div>
                                        <h4 class="text-center mb-4">Forgot password ?</h4>
                                        <form action="index.html">
                                            <div class="mb-3">
                                                <p class="mb-4">
                                                    We get it, stuff happens. Just enter your email address below
                                                    and we'll send you a link to reset your password!
                                                </p>
                                            </div>
                                            @*  <form action="index.html" style="background-color:color_11">*@
                                            <div class="mb-3">
                                                <label class="mb-1"><strong>Email</strong></label>



                                                @Html.TextBoxFor(m => m.EmailID, new {@class = "form-control"})
                                                @Html.ValidationMessageFor(m => m.EmailID)



                                            </div>

                                            <p class="text-danger">@ViewBag.msg</p>


                                            <button type="submit" class="btn btn-primary mb-4">Send</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--**********************************
            Scripts
        ***********************************-->
        <!-- Required vendors -->
        <script src="~/Contents/vendor/draggable/draggable.js"></script>




        <script src="~/Contents/vendor/global/global.min.js"></script>
        <script src="~/Contents/js/custom.min.js"></script>
        <script src="~/Contents/js/dlabnav-init.js"></script>
        <script src="~/Contents/js/styleSwitcher.js"></script>

        <script src="~/Contents/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>
    </body>
    </html>

}